.list {
  $self: &;

  margin-bottom: 30px;

  &__add-icon {
    color: #767676;

    &:hover {
      color: #000;
    }
  }

  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 12px;

    &:hover #{$self}__remove-icon {
      opacity: .3;
    }

    #{$self}__remove-icon {
      opacity: 0;

      &:hover {
        opacity: .8;
      }
    }

    span {
      flex: 1;
    }

    &:hover {
      background: rgba(255, 255, 255, .5);
    }

    &.active {
      background: #FFF;
      box-shadow: 0 3px 10px rgba(0, 0, 0, .04);
      border-radius: 4px;
    }

    .badge {
      position: relative;
      left: 5px;
    }

    i {
      display: inline-flex;
      margin-right: 10px;
      
      img {
        opacity: .6;
      }
    }
  }
}