.add-button {

  &__popup {
    position: relative;
    width: 235px;
    height: 148px;
    background-color: #FFF;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .05);
    padding: 18px;
    margin-top: -20px;
    left: 10px;


    .button {
      width: 100%;
      margin-top: 15px;
    }

    &-close-btn {
      position: absolute;
      right: -8px;
      top: -8px;
      cursor: pointer;
    }

    &-colors {
      display: flex;
      margin-top: 12px;
      justify-content: space-between;

      .badge {
        width: 16px;
        height: 16px;
        position: static;
        cursor: pointer;
        border: 2px solid transparent;

        &.active {
          border: 2px solid rgb(90, 84, 84);
        }
      }
    }
  }
}