.tasks {
    &:not(:last-of-type) {
        margin-bottom: 40px;
    }

    a {
        text-decoration: none;
    }

    &__title {
        font-family: Montserrat;
        font-weight: 900;
        font-size: 32px;
        line-height: 39px;
        color: #64C4ED;
        padding-bottom: 20px;
        border-bottom: 1px solid #F2F2F2;

        &:hover {
            img {
                opacity: .3;
            }
        }
    }

    &__items {
        margin-top: 30px;

        h2 {
            position: absolute;
            top: 50%;
            left: 50%;
            font-family: Montserrat;
            font-size: 22px;
            color: #C9D1D3;
            text-align: center;
            transform: translate(50%, 50%);
        }

        &-row {
            display: flex;
            align-items: center;
            margin-bottom: 15px;

            &:hover &-actions {
                opacity: 1;
            }

            &-actions {
                display: flex;
                opacity: 0;
                transition: all .15s ease-in-out;

                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 32px;
                    height: 32px;
                    background-color: lighten(#F4F6F8, 2%);
                    border-radius: 6px;
                    margin-left: 5px;
                    cursor: pointer;

                    &:hover {
                        background-color: darken(#f4f4f8, 2%);
                        svg {
                            opacity: .8;
                        }
                    }

                    svg {
                      width: 11px;
                      height: 11px;
                      opacity: 0.4;
                    }
                }
            }

            p {
                margin-left: 15px;
                border: 0;
                font-size: 16px;
                width: 100%;
            }
        }
    }

    .title__edit-icon {
        opacity: 0;
        cursor: pointer;
        margin-left: 15px;
        margin-bottom: 3px;
        transform: scale(1.3);

        &:hover {
            opacity: .8;
        }
    }

    &__form {

        &-block {

            .button {
                margin-right: 10px;
                margin-top: 15px;
            }
        }

        &-new {
            display: flex;
            align-items: center;
            cursor: pointer;
            opacity: .4;
            transition: all .4s;

            &:hover {
                opacity: .8;
            }

            img {
                width: 16px;
                height: 16px;
                margin-left: 4px;
            }

            span {
                font-size: 16px;
                margin-left: 19px;
            }
        }

    }
    
    .checkbox {
        display: flex;
        align-items: center;
        
        input {
            display: none;
        }

        svg {
            transition: all .15s ease-in-out;
        }

        input:checked + label {
            background-color: #4DD599;
            border-color: #4DD599;

            svg {
                opacity: 1;
                path {
                    stroke: #FFF;
                }
            }
        }

        &:hover {
            label {
                background-color: #F2F2F2;
                border-color: #F2F2F2;
                svg {
                    opacity: 1;
                    path {
                        stroke: #828282;
                    }
                }
            }
        }

        label {
            position: relative;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 2px solid  #E8E8E8;
            border-radius: 50%;
            margin: 0;
            transition: all .15s ease-in-out;

            svg {
                opacity: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}