* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: "Roboto", -apple-system, system-ui, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  width: calc(100vw - 100px);
  height: calc(100vh - 100px);
  min-height: 530px;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 20px #F3F3F3;
  border-radius: 10px;
  border: 1px solid #F1F1F1;
  font-size: 14px;

  &__sidebar {
    background-color: #F4F6F8;
    width: 200px;
    height: 100%;
    border-right: 1px solid #F1F1F1;
    padding: 60px 20px;
  }

  &__tasks {
    flex: 1;
    padding: 60px;
    overflow: auto;
  }
}

.button {
  background-color: #4DD599;
  border-radius: 4px;
  color: #FFF;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    background-color: darken($color: #4DD599, $amount: 6%);
  }

  &:active {
    background-color: darken($color: #4DD599, $amount: 10%);
  }

  &:disabled {
    background: #D8D8D8;
  }

  &--grey {
    background: #F4F6F8;
    color: #444444;

    &:hover {
      background: darken(#F4F6F8, 4%);
    }

    &:active {
      background: darken(#F4F6F8, 7%);
    }
  }
}

.field {
  background-color: #FFF;
  border: 1px solid #EFEFEF;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  font-size: 14px;

  &:focus {
    border-color: #DBDBDB;
  }
}
